<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title>Inventory</ion-title>
        <ion-spinner slot="end" *ngIf="showLoading"></ion-spinner>
    </ion-toolbar>
</ion-header>



<ion-content class="ion-no-padding">

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                Inventory
            </ion-title>

        </ion-toolbar>
    </ion-header>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingText="Pull to refresh"
                refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

    <ion-grid class="ion-no-padding">
<!--        <ion-row *ngIf="showLoading">-->
<!--            <ion-col class="ion-text-center ion-padding">-->

<!--            </ion-col>-->
<!--        </ion-row>-->
        <ion-row *ngIf="!showLoading && inventoryList && inventoryList.length === 0">
            <ion-col class="ion-text-center no-inventory">
                You currently have no items in your inventory!
            </ion-col>
        </ion-row>
        <ion-row *ngIf="inventoryList && inventoryList.length > 0">
            <ion-col size-md="8" offset-md="2">
                <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-row [hidden]="!inventoryList && inventoryList.length === 0">
            <ion-col size-md="8" offset-md="2">
                <ion-list lines="full">
                    <app-inventory-item-card
                                             *ngFor="let inventoryItem of inventoryList | textSearch: searchTerm"
                                             [inventory]="inventoryItem"
                                             (openEvent)="handleInventoryOpen($event)"
                                             (deleteEvent)="handleInventoryDelete($event)"
                                             (shareEvent)="handleInventoryShare($event)">
                    </app-inventory-item-card>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addInventory()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>s
